.btnTypePay {
  &__wrapper {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    &.inVisibleTypePay {
      display: none;
    }
  }
  &__item {
    display: none;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    &.isEnable {
      display: block;
    }
  }
  &__link {
    color: black;
    font-size: 18px;
    text-decoration: none;
  }
}

.btnTypePayDiv {
  &__wrapper {
    width: 198px;
    height: 198px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    box-shadow: 3px 3px #767676;
    padding: 3px;
    &:active {
      background: #767676;
    }
  }
  &__icon {
    width: 100%;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__btn-fuel-card {
      width: 122px;
      height: 80px;
    }
    &__btn-bank-card {
      width: 126px;
      height: 85px;
    }
    &__btn-cash {
      width: 152px;
      height: 74px;
    }
  }
  &__text {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 18px;
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-size: 36px;
    color: #343434;
    line-height: 44px;
  }
}
