.checkData {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  &__head {
    max-width: 640px;
    width: 100%;
    text-align: center;
    font-family: "Open Sans Condensed";
    font-weight: normal;
    font-size: 49px;
    margin-top: 16px;
    margin-bottom: 20px;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  &__pays {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__dismiss {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 70px;
    background: #45b667;
    color: white;
    box-shadow: 3px 3px #767676;
    margin: 7px;
    margin-top: 25px;
    align-self: flex-end;
    &:active {
      background: #767676;
    }
    text-decoration: none;
  }
  &__textbtn {
    text-align: center;
    font-family: "Open Sans Condensed";
    font-weight: normal;
    font-size: 49px;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
}

.btn_forward {
  width: 77px;
  height: 83px;
  display: block;
  background: url("/images/icon-forward.svg") no-repeat;
  background-size: auto;
  border: none;
  position: absolute;
  right: 50px;
  bottom: 50px;
  &:hover {
    cursor: pointer;
  }
  &:active {
    background: #767676;
  }
  text-decoration: none;
}

.noValid-form {
  min-height: 35px;
  font-size: 24px;
  color: red;
  font-family: "Open Sans Condensed";
  font-weight: bold;
  text-transform: uppercase;
}
