.btn-home {
  width: 91px;
  height: 91px;
  display: block;
  background: url("/images/icon-home.svg") no-repeat;
  background-size: auto;
  border: none;
  position: absolute;
  left: 50%;
  bottom: 20px;
  &:focus {
    background-color: #75c15e;
    border: none;
    border-radius: 50px;
  }
  &:hover {
    cursor: pointer;
  }
  &:active {
    background: #767676;
  }
}
