.printCheck {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  &__status {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    &.visible {
      display: flex;
    }
  }
  &__tet {
    min-height: 70px;
  }
  &__text {
    text-align: center;
    font-family: "Open Sans Condensed";
    font-weight: normal;
    font-size: 49px;
    &.error {
      color: #f7931e;
    }
  }
  &__check {
    margin-top: 100px;
    height: 390px;
  }
}
