.gasStation-item {
  &__wrapper {
    width: 198px;
    height: 198px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    box-shadow: 3px 3px #767676;
    margin: 15px;
    &.notFree {
      opacity: 0.65;
      background-color: #afafaf;
    }
    &.Free {
      &:hover {
        cursor: pointer;
      }
      &:active {
        background: #767676;
      }
    }
  }
  &__link{
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__number-wrapper {
    height: 130px;
    padding: 17px;
  }
  &__number {
    font-family: "Open Sans Condensed";
    font-weight: bold;
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0;
    color: #4e4d4d;
  }
  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    opacity: 1;
    background-color: #ededed;
    &.notFree {
      background-color: white;
    }
  }
  &__status-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 61px;
    opacity: 1;
    background: #0a9d3b;
    margin-left: 2px;
    margin-bottom: 0px;
    &.notFree {
      opacity: 0.7;
      background-color: #585858;
    }
  }
  &__status {
    color: white;
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-size: 46px;
    margin: 0;
  }
}
