.header {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    letter-spacing: 0px;
    font-family: "Open Sans Condensed";
    font-weight: normal;

    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  &__logo-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    z-index: 2;
  }
  &__logo {
    height: 99.86px;
    margin-right: 5px;
  }
  &__table {
    height: 136px;
    background: #4e4d4d;
    width: 100%;
    z-index: 10000;
    color: #f39200;
  }

  &__phone {
    position: fixed;
    font-size: 56px;
    padding-top: 25px;
    padding-left: 10px;
    color: #ffffff;
  }
  &__сlock {
    position: fixed;
    font-size: 33px;
    opacity: 1;
    right: 0;
    text-align: right;
    top: 0px;
    padding-right: 12px;
  }
  &__address {
    position: fixed;
    display: table;
    top: 65px;
    font-size: 33px;
    opacity: 1;
    right: 0;
    text-align: right;
    padding-right: 10px;
  }
}
