.deductingPoints {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  &__head {
    text-align: center;
    font-family: "Open Sans Condensed";
    font-weight: normal;
    font-size: 49px;
    margin-top: 16px;
    margin-bottom: 5px;
  }
  &__pagefuel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  &__columngas {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    text-align: center;
    font-family: "Open Sans Condensed";
    &__text {
      font-size: 49px;
      margin-top: 16px;
      font-weight: normal;
      margin-right: 20px;
    }
    &__num {
      font-weight: bold;
      font-size: 60px;
      color: white;
      border-radius: 50%;
      width: 90px;
      height: 90px;
      background-color: rgb(108, 160, 5);
    }
    margin-right: 70px;
  }
  &__choosefuel {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    text-align: center;
    font-family: "Open Sans Condensed";
    &__text {
      font-size: 49px;
      margin-top: 16px;
      font-weight: normal;
      margin-right: 20px;
    }
    &__name {
      padding-top: 30px;
      font-weight: bold;
      font-size: 20px;
      color: white;
      border-radius: 50%;
      width: 90px;
      height: 90px;
    }
    &__fuelId {
      height: 90px;
      margin: 0px;
    }
  }
  &__keyboard {
    max-width: 840px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 100px;
  }
  &__btn_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-right: 10px;
  }
  &__btnAddBall {
    color: white;
    background: #0d47a1;
    font-size: 20px;
    width: 280px;
    height: 80px;
    border: none;
    &:hover {
      cursor: pointer;
    }
    box-shadow: 3px 3px #767676;
    margin-left: 40px;
    &:active {
      background: #767676;
    }
  }
  &__textbtnf {
    text-align: center;
    font-family: "Open Sans Condensed";
    font-weight: normal;
    font-size: 49px;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin-top: -10px;
  }
  &__textbtns {
    text-align: center;
    font-family: "Open Sans Condensed";
    font-weight: normal;
    font-size: 26px;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin-top: -15px;
  }

  &__btnWriteBall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background: #75c15e;
    font-size: 20px;
    width: 280px;
    height: 80px;
    border: none;
    &:hover {
      cursor: pointer;
    }
    box-shadow: 3px 3px #767676;
    margin-left: 40px;
    &:active {
      background: #767676;
    }
  }
  &__textbtn {
    text-align: center;
    justify-content: center;
    font-family: "Open Sans Condensed";
    font-weight: normal;
    font-size: 59px;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
}
