.formCardLoyalties {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__head {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Open Sans Condensed";
    font-weight: normal;
    font-size: 49px;
    margin-bottom: 20px;
    max-width: 620px;
    &.no-visible {
      display: none;
    }
  }
  &__tet {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    &.no-visible {
      display: none;
    }
  }
  &__information {
    width: 400px;
    height: 400px;
    margin-top: 50px;
    background: url(/images/cardWork.svg) no-repeat;
  }
  &__information_qr {
    width: 200px;
    height: 200px;
    margin-top: 5px;
    background: url(/images/checkQR.svg) no-repeat;
  }

  &__keyboard {
    max-width: 840px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__btnpay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 285px;
    height: 70px;
    background: #45b667;
    color: white;
    box-shadow: 3px 3px #767676;
    margin: 7px;
    margin-top: 15px;
    align-self: flex-end;
    &:active {
      background: #767676;
    }
  }
  &__textbtn {
    text-align: center;
    font-family: "Open Sans Condensed";
    font-weight: normal;
    font-size: 49px;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
}
